/*
table {

	margin: auto;
    width: 50%;
    padding: 10px;
    margin-bottom: 100px;
    margin-top: 50px;
}

td {
	border-bottom: 1px solid #ddd;
}

playbar{
	margin-top: 500px;
	background-color: light-blue;
}
*/

 /********************   ALBUM PAGE   ********************/

.album-page {
  background-color: #e056fd;
  background-image: linear-gradient(350deg, #6433A6 0%, #000000 74%);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.album-cover-art img{
  box-shadow: -18px 19px 50px -5px #050405;
  margin-left: 350px;
  margin-bottom: 35px;
  width: 360px;
  height: 360px;
  grid-column: 2 / 3;
  justify-self: end;
}

.album-info {
/*  margin-top: 40px;  */
  grid-area: 1/3/3/4;
  justify-self: start;
}

#release-info {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

/*   ALBUM INFO ANIMATION   */
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.song-list {
  grid-area: 2/2/3/3;
  margin-left: 40px;
  height: 20px;
  width: 100%;
}

.song {
  font-size: 25px;
  height: 25px;
}

.song:hover {
  background-color: #9B919E;
}

.play-icon {
  color: #fff;
}

.pause-icon {
  color: #fff;
}

.playerbar {
  grid-area: 3/1/4/5;
  padding-right: 100px;
}

#play-pause {
  background: transparent;
  border: 0;
  font-size: 40px;
}

#previous {
  background: transparent;
  color: #fff;
  border: 0;
  font-size: 40px;
}

#next {
  background: transparent;
  color: #fff;
  border: 0;
  font-size: 40px;
}
