 /********************   ALBUM PAGE   ********************/
/*   Top Album Info   */
.album-page {
  background-color: #e056fd;
  background-image: linear-gradient(350deg, #6433A6 0%, #000000 74%);
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.navbar.fixed-bottom {
  grid-row-start: 2;
  grid-row-end: 3;
}

.album-info img{
  box-shadow: -18px 19px 50px -5px #050405;
}

#album-title {
	font-size: 30px;
	font-family: 'Fjalla One', sans-serif;
}

#artist {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

#release-info {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 6s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

/*   ALBUM INFO ANIMATION   */
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/*   Song List Table  */
.table {
  color: #FCFBFB;
  font-size: 1rem;
	font-family: 'Fjalla One', sans-serif;
  overflow-y: scroll;
}

.table th {
  font-weight: bold;
}

.song:hover {
  color: white;
  background-color: #25133d;
}

.song-title {
  letter-spacing: 3px;
}
