 /********************   LIBRARY PAGE   ********************/

html {
  height: 100%;
}

.library {
  background-color: #e056fd;
  background-image: linear-gradient(350deg, #6433A6 0%, #000000 74%);
  height: 100vh;
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: scroll;
}

.album-links{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.container {
  position: relative;
}

.album-images{
  margin: 25px;
  height: 200px;
  width: 250px;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 4px;
  box-shadow: -18px 19px 50px -5px #050405;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover img {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 0.9;
}

.play-album-icon {
  color: #fff;
  font-size: 48px;
}

.album-title {
  font-size: 17px;
  letter-spacing: 1px;
}

.album-artist {
  font-size: 14px;
}

.album-links a:link {
  font-size: 14px;
  line-height: 22px;
  color: #b697df;
  text-decoration: none;
  letter-spacing: .02em;
  margin-bottom: 65px;
}

.album-links a:visited {
  color: #b697df;
}

.album-links a:hover {
  color: #fff;
}
