
#mini-album {
	font-family: 'Fjalla One', sans-serif;
}

.play-time {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#buttons {
	display: flex;
	align-items: center;
}

#buttons button {
	font-size: 1.2rem;
	border: 0;
	outline: 0;
	background: transparent;
	color: hsla(0, 0%, 100%, 0.6);
	margin: 0 1rem;
}

#buttons #play-pause {
  font-size: 2rem;
	color: hsla(0, 0%, 100%, 0.8);
}

#buttons button:hover, #buttons #play-pause:hover {
	color: white;
}

input[type=range] {
	height: 6px;
  -webkit-appearance: none;
  margin: 2px;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #9D9EAF;
  background: #9D9EAF;
  border-radius: 6px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 40px;
  border-radius: 6px;
  background: #FCFBFB;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

input[type=range]::-ms-track {
  width: 80%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #9D9EAF;
  border: 0px solid #000000;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #9D9EAF;
}

input[type=range]::-ms-fill-upper {
  background: #9D9EAF;
  border: 0px solid #000000;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #9D9EAF;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 40px;
  border-radius: 6px;
  background: #9FCE7F;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #9D9EAF;
}

input[type=range]:focus::-ms-fill-upper {
  background: #9D9EAF;
}

#time-control, #volume-control {
	color: hsla(0, 0%, 100%, 0.6);
	font-family: 'Fjalla One', sans-serif;
}
