.player-bar {
	left: 0;
	bottom: 0;
	width: 100%;
	position: fixed;
	max-height: 100px;
	background-color: #371c5b;
}

#buttons {

}

#buttons button {
	font-size: 1rem;
	border: 0;
	outline: 0;
	background: transparent;
	color: hsla(0, 0%, 100%, 0.6);
}

#buttons #play-pause {
  font-size: 1.5rem;
	color: hsla(0, 0%, 100%, 0.8);
}

#buttons button:hover, #buttons #play-pause:hover {
	color: #fff;
}

#time-control {
}

#time-control, #volume-control {
	color: hsla(0, 0%, 100%, 0.5);
}
