.player-bar {
	display: flex;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-pack: justify;
	justify-content: space-between;
	background-color: #371c5b;
	width: 100%;
	height: auto;
	padding: 0 16px;
	flex-wrap: wrap;
}

#mini-album {
	display: flex;
	align-items: center;
}

#player-album-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 15px 0px 15px 15px;
}

#play-time {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#buttons {
	display: flex;
	align-items: center;
}

#buttons button {
	font-size: 1.2rem;
	border: 0;
	outline: 0;
	background: transparent;
	color: hsla(0, 0%, 100%, 0.6);
	margin: 0 5px;
}

#buttons #play-pause {
  font-size: 2rem;
	color: hsla(0, 0%, 100%, 0.8);
}

#buttons button:hover, #buttons #play-pause:hover {
	color: #fff;
}

input[type=range] {
	margin: 0px 14px;
	width: 200px;
}

#time-control {
	display: flex;
}

#volume-control {
	display: flex;
}

#time-control, #volume-control {
	color: hsla(0, 0%, 100%, 0.6);
}
