.grid {
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
/*
.row {
	background: linear-gradient(to bottom, #666699 0%, #ff99cc 100%);
}
*/
#buttons {
	font-size: 33px;
	padding: 10px;
}
