body {
  font-family: 'Noto Sans', sans-serif;
}

/*   NAV BAR ANIMATION   */
.navbar-custom a::before,
.navbar-custom a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.navbar-custom a::before {
  color: #ff1493;
	margin-right: 10px;
	content: '[ ';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.navbar-custom a::after {
  color: #ff1493;
	margin-left: 10px;
	content: ' ]';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.navbar-custom a:hover::before,
.navbar-custom a:hover::after,
.navbar-custom a:focus::before,
.navbar-custom a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/*   NAV BAR   */
.navbar-custom {
  background-color: black;
  font-family: 'Fjalla One', sans-serif;
}

.navbar-custom a{
  color: white;
  font-size: 1.5rem;
}

.navbar-custom a:hover{
  color: #ff1493;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  ul.navbar-custom li.navlibrary,
  ul.navbar-custom li {float: none;}
}

.navbrand {
  color: white;
}

.navbar-icon {
  margin-right: 7px;
  font-size: 40px;
}

/*   LANDING PAGE   */

.landing_page {
  background-image: url('/assets/images/landing_page/woman-1540802_1920.jpg');
  background-attachment: fixed;
  background-color: #000000;
  height: 100vh;
  min-height: 300px;
  width: 100%;
  background-repeat: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*   ANCHOR ANIMATION LINK TO LIBRARY   */

.hero-title a::before,
.hero-title a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.hero-title a::before {
  color: #fff;
	margin-right: 10px;
	content: '[ ';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.hero-title a::after {
  color: #fff;
	margin-left: 10px;
	content: ' ]';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.hero-title a:hover::before,
.hero-title a:hover::after,
.hero-title a:focus::before,
.hero-title a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.hero-title a{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 35px;
  font-size: 100px;
  font-family: 'Fjalla One', sans-serif;
  text-decoration: none;

  color: #fff;
  text-shadow:
    0 0  5px #537895,
    0 0  10px #537895,
    0 0  15px #537895,
    0 0  20px #fff,
    0 0  35px #fff,
    0 0  40px #fff,
    0 0  60px #fff,
    0 0  90px #fff

}

.hero-title span a:hover{
  color: #fff;
}

.sellingpoints-container {
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  background-color: #000000;
  background-image: linear-gradient(337deg, #000000 0%, #2c3e50 74%);
}

.selling-point {
  padding: 15px;
  margin: 10px;
  width: 350px;
  height: 300px;
  border-color: black;
  border-width: 3px;
  text-align: center;
  background: white;
  color: black;
}

.music-note {
  font-size: 72px;
  color: #2ECDBA;
}

.streaming-icon {
  font-size: 72px;
  color: #2ECDBA;
}

.phone-icon {
  font-size: 72px;
  color: #2ECDBA;
}

 /*   LIBRARY PAGE   */

html {
  height: 100%;
}

.library {
  background-color: #e056fd;
  background-image: linear-gradient(350deg, #6433A6 0%, #000000 74%);
  height: 100vh;
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: scroll;
}

.albumLinks{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.album-images{
  box-shadow: -18px 19px 50px -5px #050405;
  margin: 25px;
  height: 200px;
  width: 250px;
  border-radius: 4px;
}

.albumLinks img:hover {
  opacity: 0.25;
  transition: .2s;
}

.album_title {
  font-weight: bold;
  font-size: 17px;
}

.albumLinks a:link {
  font-size: 14px;
  color: white;
  text-decoration: none;
  letter-spacing: .02em;
  margin-bottom: 65px;
}

.albumLinks a:visited {
  font-size: 14px;
/*  font-weight: bold; */
  color: #2ecdba;
  text-decoration: none;
  letter-spacing: .02em;
}

.albumLinks a:hover {
  color: #ff1493;
}

 /*   ALBUM PAGE   */

.album-page {
  background-color: #e056fd;
  background-image: linear-gradient(350deg, #6433A6 0%, #000000 74%);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.album-cover-art img{
  box-shadow: -18px 19px 50px -5px #050405;
  margin-left: 350px;
  margin-bottom: 35px;
  width: 360px;
  height: 360px;
  grid-column: 2 / 3;
  justify-self: end;
}

.album-info {
/*  margin-top: 40px;  */
  grid-area: 1/3/3/4;
  justify-self: start;
}

#release-info {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

/*   ALBUM INFO ANIMATION   */
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.song-list {
  grid-area: 2/2/3/3;
  margin-left: 40px;
  height: 20px;
  width: 100%;
}

.song {
  font-size: 25px;
  height: 25px;
}

.song:hover {
  background-color: #005a93;
}

.play-icon {
  color: deeppink;
}

.pause-icon {
  color: deeppink;
}

.playerbar {
  grid-area: 3/1/4/5;
  padding-right: 100px;
}

#play-pause {
  background: transparent;
  border: 0;
  font-size: 40px;
}

#previous {
  background: transparent;
  color: deeppink;
  border: 0;
  font-size: 40px;
}

#next {
  background: transparent;
  color: deeppink;
  border: 0;
  font-size: 40px;
}
