ul.topnav {
  list-style-type: none;
  height: 70px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li.navbrand {float: left;}
ul.topnav li.navlibrary {float: right;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  ul.topnav li.navlibrary,
  ul.topnav li {float: none;}
}

.web-image {
  background-image: url("djsilhouette.jpg");
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size:cover;
  color: white;

}

.hero-title {
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 1px 1px 0px rgb(58,23,63);
}

.container {
  padding-top: 50px;
}
