body {
  font-family: 'Noto Sans', sans-serif;
}

/* Nav bar */
.topnav a::before,
.topnav a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.topnav a::before {
  color: #2ECDBA;
	margin-right: 10px;
	content: '(( ';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.topnav a::after {
  color: #2ECDBA;
	margin-left: 10px;
	content: ' ))';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.topnav a:hover::before,
.topnav a:hover::after,
.topnav a:focus::before,
.topnav a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.navbar-custom {
  background-color: black;
  font-family: 'Fjalla One', sans-serif;
}

.navbar-custom a{
  color: white;
  font-size: 1.5rem;
}

.navbar-custom a:hover{
  color: #2ECDBA;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  ul.topnav li.navlibrary,
  ul.topnav li {float: none;}
}

.navbrand {
  color: white;

}

.navbar-icon {
  margin-right: 7px;
  font-size: 40px;
}

/*Landing page image*/
.carousel-item {
  background-color: #000000;
  height: 100vh;
  min-height: 300px;
  width: 100%;
  background-repeat: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

-carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/* Landing page image link to library*/
.hero-title a{
  font-size: 5rem;
  text-shadow: 2px 6px 0px #2ECDBA;
  text-decoration: none;
  color: white;
}

.hero-title span {
  color: #2ECDBA;
  text-shadow: 2px 6px 0px white;
}

.sellingpoints-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  background-color: #e056fd;
  background-image: linear-gradient(350deg, #6433A6 0%, #000000 74%);
  color: white;
}

.selling-point {
  padding: 20px;
  text-align: center;

}

.music-note {
  font-size: 64px;
  color: #2ECDBA;
}

.streaming-icon {
  font-size: 70px;
  color: #2ECDBA;
}

.phone-icon {
  font-size: 64px;
  color: #2ECDBA;
}

 /* Library Page */

html {
  height: 100%;
}

.library {
  width: 100%;
  background-color: #e056fd;
  background-image: linear-gradient(350deg, #6433A6 0%, #000000 74%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.albumLinks{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.album-images{
  justify-content: center;
  box-shadow: -18px 19px 50px -5px #050405;
  margin-bottom: 15px;
  height: 200px;
  width: 250px;
}

.album_title {
  font-weight: bold;
  font-size: 16px;
}

.albumLinks a:link {
  font-size: 14px;
/*  font-weight: bold; */
  color: white;
  text-decoration: none;
  letter-spacing: .02em;
  margin-bottom: 20px;
}

.albumLinks a:visited {
  font-size: 14px;
/*  font-weight: bold; */
  color: #D2ADD5;
  text-decoration: none;
  letter-spacing: .02em;
}

.albumLinks a:hover {
  color: #2ECDBA;
}

 /*  Album Page  */

.album-page {
  background-color: #e056fd;
  background-image: linear-gradient(350deg, #6433A6 0%, #000000 74%);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.album-cover-art img{
  box-shadow: -18px 19px 50px -5px #050405;
  margin-left: 350px;
  margin-bottom: 35px;
  width: 360px;
  height: 360px;
  grid-column: 2 / 3;
  justify-self: end;
}

.album-info {
/*  margin-top: 40px;  */
  grid-area: 1/3/3/4;
  justify-self: start;
}

#release-info {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

/*album info animation*/
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.song-list {
  grid-area: 2/2/3/3;
  margin-left: 40px;
  height: 20px;
  width: 100%;
}

.song {
  font-size: 25px;
  height: 25px;
}

.song:hover {
  background-color: #005a93;
}

.play-icon {
  color: deeppink;
}

.pause-icon {
  color: deeppink;
}

.playerbar {
  grid-area: 3/1/4/5;
  padding-right: 100px;
}

#play-pause {
  background: transparent;
  border: 0;
  font-size: 40px;
}

#previous {
  background: transparent;
  color: deeppink;
  border: 0;
  font-size: 40px;
}

#next {
  background: transparent;
  color: deeppink;
  border: 0;
  font-size: 40px;
}
